localGitDir="/home/zido/data/software/hnqc/projects"
localBinDir="/home/zido/data/software/hnqc/bin"
localLogDir="/home/zido/data/software/hnqc/logs"
localTempDir="/home/zido/data/software/hnqc/bin/.temps"
localJavaBin="/home/zido/.sdkman/candidates/java/8.0.181-oracle/bin/java"
remoteName="origin"
branchName="test"
packageCommand="mvn clean package -Dmaven.test.skip=true -q"
mvnRepository="home/zido/.m2/repository"
packageEnv="test"
packageTarget="target" # relative dir
dependencies=("com.hnqc:hnqc_common:0.0.1" "com.hnqc:hnqc_search:0.0.1")
