localGitDir="/data/software/hnqc/projects"
localBinDir="/data/software/hnqc/bin"
localLogDir="/data/software/hnqc/logs"
localTempDir="/data/software/hnqc/bin/.temps"
localJavaBin="java"
remoteName="origin"
branchName="test"
packageCommand="/data/software/maven/bin/mvn clean package -Dmaven.test.skip=true"
mvnRepository="/root/.m2/repository"
packageEnv="test"
packageTarget="target" # relative dir
dependencies=("com.hnqc:hnqc_common:0.0.2" "com.hnqc:hnqc_search:0.0.2")
